table {
  border-collapse: collapse;
  border: 2px solid black;
  letter-spacing: 1px;
  font-size: 0.8rem;
  width: 60vw;
}

td,
th {
  border: 1px solid black;
  padding: 10px 20px;
}

th {
  color: white;
  background-color: rgb(69, 100, 240);
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: powderblue;
}

tr:nth-child(odd) td {
  background-color: white;
}

caption {
  padding: 10px;
}

@media only screen and (max-device-width: 800px) and (orientation: portrait) {
  /* table {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: 1px;
    font-size: 0.8rem;
    width: 60vw;
  } */

  td,
  th {
    padding: 8px 12px;
  }
}
