#game-wrapper {
  width: 80vw;
}

#turn-display {
  justify-content: space-between;
  width: 80%;
}

#turn-display h3 {
  font-size: 40px;
  /* padding-right: 6vh; */
}

#timer {
  font-size: 70px;
  margin-right: 6vw;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 38vh;
  margin-top: 8vh;
}

.field {
  border: 0.5vh solid black;
}

.field,
.label {
  height: 12vh;
  width: 12vh;
}

.field.f-1,
.field.f-2,
.field.f-3 {
  border-top: none;
}

.field.f-1,
.field.f-4,
.field.f-7 {
  border-left: none;
}

.field.f-3,
.field.f-6,
.field.f-9 {
  border-right: none;
}

.field.f-7,
.field.f-8,
.field.f-9 {
  border-bottom: none;
}

.label {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.label.x {
  background-image: url("../../../public/images/x-symbol.svg");
}

.label.o {
  background-image: url("../../../public/images/o-symbol.svg");
}

@media only screen and (max-device-width: 740px) and (orientation: landscape) {
  #turn-display {
    justify-content: center;
    width: 100%;
  }
}
