* {
  margin: 0;
  padding: 0;
}

.appGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

header,
footer {
  background-color: peachpuff;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: plum;
}

main {
  display: flex;
  justify-content: center;
  grid-area: main;
  background-color: powderblue;
  /* height: 70vh; */
}

main:first-child {
  height: 100%;
  width: 100%;
}

footer {
  grid-area: footer;
}

button {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.labelContainer {
  height: 3.75em;
  width: 3.75;
  background-color: white;
}

.o {
  font-size: 7.5em;
  display: inline-block;
  width: 0.3em;
  box-sizing: content-box;
  height: 0.3em;
  border: 0.09em solid black;
  position: relative;
  border-radius: 0.2625em;
}

.x {
  margin-left: 1.4em;
  background: red;
  height: 3.75em;
  position: relative;
  width: 0.75em;
  transform: rotate(45deg);
}

.x:after {
  background: red;
  content: "";
  height: 0.75em;
  left: -1.5em;
  position: absolute;
  top: 1.5em;
  width: 3.75em;
}
