* {
  margin: 0;
  padding: 0;
}

.appGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
  height: 100%;
}

header,
footer {
  background-color: peachpuff;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
  background-color: plum;
}

main {
  grid-area: main;
  background-color: powderblue;
  /* height: 70vh; */
}

footer {
  grid-area: footer;
}
